---
import GitHub from "./icons/GitHub.astro";
import NextJS from "./icons/NextJS.astro";
import Tailwind from "./icons/Tailwind.astro";
import Javascript from "./icons/Javascript.astro";
import Link from "./icons/Link.astro";
import LinkButton from "./LinkButton.astro";
import Html from "./icons/Html.astro";
import Css from "./icons/Css.astro";
import Flutter from "./icons/Flutter.astro";
import Work from "./icons/Work.astro";

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
    hoverColor: "hover:bg-gray-700",
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
    hoverColor: "hover:bg-[#004179]",
  },
  JAVASCRIPT: {
    name: "JavaScript",
    class: "bg-[#565900] text-white",
    icon: Javascript,
    hoverColor: "hover:bg-[#989d00]",
  },
  HTML: {
    name: "Html",
    class: "bg-[#593600] text-white",
    icon: Html,
    hoverColor: "hover:bg-[#9d6800]",
  },
  CSS: {
    name: "Css",
    class: "bg-[#004959] text-white",
    icon: Css,
    hoverColor: "hover:bg-[#008a9d]",
  },
  FLUTTER: {
    name: "Flutter",
    class: "bg-[#004959] text-white",
    icon: Flutter,
    hoverColor: "hover:bg-[#008a9d]",
  },
};

const PROJECTS = [
  {
    title: "Clima App",
    description: "App simple para ver el clima actual ",
    link: "https://clima-app-v2-two.vercel.app/",
    github: "https://github.com/gbascur/clima-app-v2",
    image: "/projects/climaappv2.webp",
    tags: [TAGS.JAVASCRIPT, TAGS.HTML, TAGS.CSS],
  },
  {
    title: "Piggetz-App",
    description:
      "Aplicación movil para administrar gastos personales, con autenticación y sincronización en tiempo real.",
    // link: "https://adventjs.dev",
    work: "https://pleasewait.co.uk/",
    image: "/projects/piggetz.webp",
    tags: [TAGS.FLUTTER],
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github, work }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              alt="Recién llegado vs 5 años en Nueva Zelanda"
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              loading="lazy"
              src={image}
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row mb-2 gap-x-2">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-2 rounded-full text-xs ${tag.class} ${tag.hoverColor} transition-colors duration-200 py-1 px-2`}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class="mt-2 text-gray-700 dark:text-gray-400">
              {description}
            </div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <LinkButton href={github}>
                  <GitHub class="size-6" />
                  Code
                </LinkButton>
              )}
              {link && (
                <LinkButton href={link}>
                  <Link class="size-4" />
                  Preview
                </LinkButton>
              )}
              {work && (
                <LinkButton href={work}>
                  <Work class="size-4" />
                  Working on Website
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
